/************\
#CSS Reset
\************/

@import './normalize.css';

/************\
#Fonts
\************/

@font-face {
  font-family: 'Space Grotesk';
  src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

/************\
#Color Pallet
\************/

:root {
  --color-primary: #151515;
  --color-secondary: #242424;
  --color-accent: #4ee1a0;
  --color-headings: #ffffff;
  --color-body: #d9d9d9;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/************\
#Typography
\************/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  background-color: var(--color-primary);
  color: var(--color-body);
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  letter-spacing: -1.14px;
  line-height: 4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  h1 {
    font-size: 7.2rem;
    line-height: 7.2rem;
    letter-spacing: -2.05px;
  }

  h2 {
    font-size: 2.4rem;
    letter-spacing: -1.5px;
    line-height: 5.6rem;
  }

  h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -1.5px;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 8.8rem;
    letter-spacing: -2.5px;
    line-height: 8.8rem;
  }

}

/************\
#Links
\************/

a {
  text-decoration: none;
}

.link-underline {
  color: var(--color-headings);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.6rem;
  letter-spacing: 2.29px;
  transition: color .3s;
}

.link-underline:hover {
  color: var(--color-accent);
}

/************\
#Underline
\************/

.underline {
  /* width should be auto */
  width: auto;
  height: 2px;
  background: var(--color-accent);
  margin-top: 10px;
}

.underline-large {
  height: 4px;
}

.underline-xl {
  height: 6px;
}

/************\
#Skill
\************/

.skill {
  text-align: center;
}

.skill__heading,
.skill p {
  margin: 0;
}

.skill p {
  margin-top: 1px;
}



@media screen and (min-width: 768px) {
  .skill {
    text-align: start;
  }

  .skill__heading {
    margin-bottom: 14px;
  }
}

/************\
#Icons
\************/

.icon--container {
  width: 192px;
  display: flex;
  gap: 3.2rem;
}

.icon {
  fill: var(--color-headings);
  width: 24px;
  height: 24px;
  transition: fill .3s;
  margin-bottom: -5.5px;
}

.icon--active:hover {
  fill: var(--color-accent);
}

/************\
#Grids
\************/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/************\
#Project
\************/

.project {
  padding: 0 1.5rem;

}

.project__name {
  margin: 2rem 0;
}

.project__name-heading {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 7px;
}

.span--1 {
  margin-right: 1.8rem;
}

.project__links {
  display: flex;
  gap: 3rem;
}

/************\
#Nav
\************/

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 2rem;
}

.nav__logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-headings);
  line-height: 3.2rem;
  letter-spacing: -0.33px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    height: 3.2rem;
  }

  .nav__logo {
    margin: 0;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 3.2;
    letter-spacing: -0.44px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .nav__logo {

    width: 172px;
    height: 3.2rem;
    display: inline-flex;
    align-items: center;
    margin-left: 165px;
    margin-top: 3.9rem;
  }

  .icon--container {
    margin-top: 4.3rem;
    margin-right: 165px;
  }
}