<div class="project">
  <picture class="project__image">
    <img src="./assets/images/thumbnail-project-1-large.webp" alt="">
  </picture>
  <div class="project__name">
    <h2 class="project__name-heading">
      Design Portfolio
    </h2>
    <span class="span--1">HTML</span>
    <span class="span--2">CSS</span>
  </div>
  <!-- First link -->
  <div class="project__links">
    <div class="project__link-1">
      <a href="#" class="link-underline">View Project</a>
      <div class="underline">&nbsp;</div>
    </div>
    <!-- Second link -->
    <div class="project__link-2">
      <a href="#" class="link-underline">View Code</a>
      <div class="underline">&nbsp;</div>
    </div>
  </div>